.rumengling{ background:url("rumengling.png") top left no-repeat; }
.练习如梦令_r2_c2{ width:16px; height:16px; background-position:-10px -10px; }
.练习如梦令_r2_c4{ width:16px; height:16px; background-position:-10px -36px; }
.练习如梦令_r2_c6{ width:16px; height:16px; background-position:-10px -62px; }
.练习如梦令_r2_c8{ width:16px; height:16px; background-position:-10px -88px; }
.练习如梦令_r2_c10{ width:16px; height:16px; background-position:-10px -114px; }

